{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html>	
	<head>
		<style>
			#divider{
				display:inline-block;
				margin: 30; }
			
			#image{
				display:inline-block;
				margin: 10 auto; 
				background: red; 
				position:relative; 
				border:2px solid red; 
				border-radius: 10px; 
				box-shadow: 0 5px 50px #333}
		</style>
		<meta charset="utf-8">
		<title>Template Files</title>
  </head>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type=text/javascript>
    // https://laracasts.com/discuss/channels/laravel/how-to-give-dynamic-id-for-button-tag-when-using-in-foreach-loop
    $(document).on('click', 'button[data-id]', function (e) {
        var filename = $(this).attr('data-id');
        // delete the file
        // https://stackoverflow.com/questions/423376/how-to-get-the-file-name-from-a-full-path-using-javascript
        deleteTemplate(filename.split('\\').pop().split('/').pop())
        //$.when(deleteTemplate(filename.split('\\').pop().split('/').pop()))
        //.then();
        //location.reload();
    });
    
    function deleteTemplate(filename) {
        //console.log("delete template")
        $.get("{{ url_for('delete_template') }}"+"/"+filename,function(data,status) {
            //
        },'html')
                .done(function() {
                    //console.log( "second success" );
                    location.reload();
                })
                .fail(function() {
                    //console.log( "error" );
                })
                .always(function() {
                    //console.log( "complete" );
                })};
  </script>
  <body>
    <ul id="filenamelist">
    {% for file in files %}
			<div id='divider'>
				<div>
					<img class='img' id='image' src="{{ url_for('file', filename=file) }}" alt="" />
				</div>
				<div>
					<a href="{{ url_for('file', filename=file) }}">{{ file }}</a>
				</div>
				<div>
					<button class="btn btn-success" data-id="{{ url_for('file', filename=file) }}">Delete</button>
				</div>
			</div>
    {% endfor %}
    </ul>
  </body>
</html>

{% endblock %}