<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="netfx.4.8.1.Beckhoff" version="4.8.9037.7" />
  <package id="TC1300.Cpp.XAE" version="1.0.1" />
  <package id="TC170x.UsermodeRuntime.XAR" version="1.3.0" />
  <package id="TE1300.ScopeViewProfessional.XAE" version="34.48.18" />
  <package id="TF3300.ScopeServer.XAR" version="34.48.18" />
  <package id="TF5000.NCPTP.XAE" version="1.0.0" />
  <package id="TF5000.NCPTP.XAR" version="1.0.0" />
  <package id="TF5100.NCI.XAE" version="1.0.0" />
  <package id="TF5100.NCI.XAR" version="1.0.0" />
  <package id="TF5200.CNC.XAE" version="4.6.0" />
  <package id="TF5210.CNCE.XAE" version="4.6.0" />
  <package id="TF5210.CNCE.XAR" version="4.6.0" />
  <package id="TF5400.AdvancedMotionPack.XAE" version="3.3.19" />
  <package id="TF5400.AdvancedMotionPack.XAR" version="3.3.19" />
  <package id="TwinCAT.Prep" version="1.0.13" />
  <package id="TwinCAT.Standard.XAE" version="4026.6.0" />
  <package id="TwinCAT.Standard.XAR" version="4026.6.0" />
  <package id="TwinCAT.StandardRM.XAE" version="4024.50.0" />
  <package id="TwinCAT.XAE.AdsApi" version="1.1.3" />
  <package id="TwinCAT.XAE.AdvancedMotion" version="3.3.19" />
  <package id="TwinCAT.XAE.Base" version="1.2.0" />
  <package id="TwinCAT.XAE.CNC" version="4.6.0" />
  <package id="TwinCAT.XAE.CppPlatformWizard" version="1.4.5" />
  <package id="TwinCAT.XAE.CppSupport" version="1.4.1" />
  <package id="TwinCAT.XAE.DALI" version="1.0.0" />
  <package id="TwinCAT.XAE.Debugger" version="2.7.4" />
  <package id="TwinCAT.XAE.DocDataProvider" version="1.1.4" />
  <package id="TwinCAT.XAE.EL6201" version="1.0.5" />
  <package id="TwinCAT.XAE.EL6692Master" version="1.0.5" />
  <package id="TwinCAT.XAE.EL6692Slave" version="1.0.4" />
  <package id="TwinCAT.XAE.EL6695" version="1.0.8" />
  <package id="TwinCAT.XAE.EtherCATConfig" version="2.0.4" />
  <package id="TwinCAT.XAE.EtherCATSlave" version="2.0.5" />
  <package id="TwinCAT.XAE.EtherCATTopology" version="1.2.0" />
  <package id="TwinCAT.XAE.Eventlogger" version="1.4.4" />
  <package id="TwinCAT.XAE.FieldbussesBase" version="1.7.1" />
  <package id="TwinCAT.XAE.HART" version="1.0.1" />
  <package id="TwinCAT.XAE.Integration" version="2.7.1" />
  <package id="TwinCAT.XAE.IOLink" version="1.1.17" />
  <package id="TwinCAT.XAE.MeasurementBaseVS" version="4.48.33" />
  <package id="TwinCAT.XAE.PLC" version="3.8.1" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc2_Drive" version="3.3.12" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc2_EtherCAT" version="3.5.1" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc2_EthernetIP" version="1.1.2" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc2_IoFunctions" version="3.4.4" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc2_Math" version="3.4.4" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc2_MC2" version="3.3.62" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc2_MC2_Camming" version="3.4.2" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc2_MC2_Drive" version="3.3.38" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc2_MC2_FlyingSaw" version="3.3.7" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc2_MC2_XFC" version="3.3.26" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc2_Nc" version="3.3.8" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc2_NcDrive" version="3.3.7" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc2_NcFifoAxes" version="3.3.6" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc2_NCI" version="3.3.18" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc2_NciXFC" version="3.3.10" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc2_NcKinematicTransformation" version="3.2.11" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc2_PlcInterpolation" version="3.3.21" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc2_ProfinetDiag" version="1.5.2" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc2_Standard" version="3.4.5" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc2_System" version="3.6.4" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc2_Utilities" version="3.7.4" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc3_DriveMotionControl" version="3.0.12" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc3_DynamicMemory" version="1.1.2" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc3_EventLogger" version="3.3.8" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc3_IoLink" version="3.4.3" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc3_IPCDiag" version="1.2.1" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc3_JsonXml" version="3.4.5" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc3_MC2_AdvancedHoming" version="3.0.26" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc3_MC2_AdvancedHoming_XFC" version="3.0.10" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc3_Module" version="3.4.5" />
  <package id="TwinCAT.XAE.ProjectCompare" version="2.0.17" />
  <package id="TwinCAT.XAE.PublicSDK" version="4.5.2" />
  <package id="TwinCAT.XAE.SafetyEditor" version="1.2.13" />
  <package id="TwinCAT.XAE.ScopeView" version="4.48.73" />
  <package id="TwinCAT.XAE.StandaloneTypesystem_1_16" version="1.16.24" />
  <package id="TwinCAT.XAE.StandaloneTypesystem_2_7" version="2.7.110" />
  <package id="TwinCAT.XAE.SupportInformationReport" version="2.0.16" />
  <package id="TwinCAT.XAE.SystemManagerBase" version="2.3.112" />
  <package id="TwinCAT.XAE.SystemManagerInterops" version="2.4.1" />
  <package id="TwinCAT.XAE.SystemManagerVS" version="2.3.112" />
  <package id="TwinCAT.XAE.TargetBrowser" version="2.0.44" />
  <package id="TwinCAT.XAE.TargetBrowserDatabaseServer" version="1.1.18" />
  <package id="TwinCAT.XAE.TargetBrowserOpcUa" version="2.0.106" />
  <package id="TwinCAT.XAE.TargetBrowserScope" version="1.1.35" />
  <package id="TwinCAT.XAE.TargetBrowserVS" version="2.0.44" />
  <package id="TwinCAT.XAE.TMC" version="1.5.5" />
  <package id="TwinCAT.XAR.AdvancedMotion" version="3.3.19" />
  <package id="TwinCAT.XAR.Base" version="2.2.24" />
  <package id="TwinCAT.XAR.CNC-E" version="4.6.0" />
  <package id="TwinCAT.XAR.CxDevice" version="1.1.6" />
  <package id="TwinCAT.XAR.DriversBase" version="3.6.2" />
  <package id="TwinCAT.XAR.ESB" version="1.4.3" />
  <package id="TwinCAT.XAR.EtherCATSlave" version="2.1.3" />
  <package id="TwinCAT.XAR.EtherNetIP" version="3.0.9" />
  <package id="TwinCAT.XAR.NCI.Classic" version="3.1.5006" />
  <package id="TwinCAT.XAR.NCI.GST" version="1.0.9" />
  <package id="TwinCAT.XAR.NCPTP" version="3.1.5012" />
  <package id="TwinCAT.XAR.NCPTP.UMRT" version="3.1.5012" />
  <package id="TwinCAT.XAR.NdisDriver" version="2.1.6" />
  <package id="TwinCAT.XAR.PLC" version="2.0.28" />
  <package id="TwinCAT.XAR.PnP" version="1.3.3" />
  <package id="TwinCAT.XAR.Profinet" version="2.2.15" />
  <package id="TwinCAT.XAR.Realtime" version="2.0.54" />
  <package id="TwinCAT.XAR.ReportingServer" version="1.2.29" />
  <package id="TwinCAT.XAR.ScopeServer" version="4.48.44" />
  <package id="TwinCAT.XAR.SystemServiceLib" version="1.1.0" />
  <package id="TwinCAT.XAR.USB" version="1.3.3" />
  <package id="TwinCAT.XAR.UserModeRuntime" version="1.9.1" />
  <package id="vcredist100.Beckhoff" version="10.0.40219.325" />
  <package id="vcredist140.Beckhoff" version="14.38.33130" />
</packages>